@font-face {
  font-family: 'Segoe UI Light';
  src: url('../fonts/SegoeUI-Light.eot');
  src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Semibold';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-SemiBold.woff') format('woff'), url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../fonts/SegoeUI-Bold.eot');
  src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  zoom: 80%;
}

*,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: all .5 ease;
  text-decoration: none;
  color: #929292;
}
li {
  list-style: none;
}
body {
  padding-bottom: 180px;
  overflow-x: hidden;
}

input, button {
  outline: none;
  border: none;
}

 input:hover, button:hover, a:hover, input:focus, button:focus, a:focus {
  border: none;
  outline: none;
}
button {
  background: transparent;
}
header {
  padding-top: 46px;
}
section.search {
  padding-top: 115px;
}
.search-btn-wrapper {
  transition: all .5s ease;
}

.d-flex {
  display: flex
}

.hidden {
  opacity: 0;
}

.align-center {
  align-items: center;
}

.no-flex-wrap {
  flex-wrap: nowrap;
}
.logotype {
  width: 100%;
}

.menu-wrapper,
.accountChanger-wrapper {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111;
  width: 107px;
  border-right: 1px solid #c9c7c7;
  height: 100%;
  transition: 0.5s ease;
}

.menu-hidden {
  left: -107px;
}

.menu-wrapper.active-menu,
.accountChanger-wrapper.active-menu {
  width: 360px;
}
.menu-wrapper.active-menu nav,
.accountChanger-wrapper.active-menu nav {
  z-index: 222;
  width: 305px;
}
.menu-wrapper.active-menu nav.active-navigation,
.accountChanger-wrapper.active-menu nav.active-navigation {
  padding-top: 0;
}
.menu-wrapper.active-menu nav.active-navigation .nav-profile-info .list,
.accountChanger-wrapper.active-menu nav.active-navigation .nav-profile-info .list {
  padding-left: 0;
  transition: unset;
}
.menu-wrapper.active-menu nav .nav-information-wrapper,
.accountChanger-wrapper.active-menu nav .nav-information-wrapper {
  padding-bottom: 27px;
  display: inline-flex;
  align-items: center;
}
.menu-wrapper.active-menu nav .nav-burg-icon,
.accountChanger-wrapper.active-menu nav .nav-burg-icon {
  padding-bottom: 0;
}
.menu-wrapper.active-menu nav .nav-burg-icon img,
.accountChanger-wrapper.active-menu nav .nav-burg-icon img {
  margin: 0 auto;
}
.menu-wrapper.active-menu nav ul li,
.accountChanger-wrapper.active-menu nav ul li {
  text-align: left;
}
.menu-wrapper.active-menu nav ul li .img-wrapper,
.accountChanger-wrapper.active-menu nav ul li .img-wrapper {
  display: inline-block;
  width: 41px;
  height: 41px;
  text-align: center;
  margin-right: 17px;
}
.menu-wrapper.active-menu nav ul li a,
.accountChanger-wrapper.active-menu nav ul li a {
  display: inline-block;
}
.menu-wrapper.active-menu nav .nav-profile-info,
.accountChanger-wrapper.active-menu nav .nav-profile-info {
  display: block;
  padding-left: 17px;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper {
  text-align: left;
  display: flex;
  align-items: center;
  width: 180px;
  margin-right: 0;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper.active,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper.active {
  width: auto;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper .company-name,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper .company-name {
  display: none;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper .navigation-wrapper .changeacc,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .name-wrapper .navigation-wrapper .changeacc {
  display: none;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .list,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .list {
  padding-left: 35px;
}
.menu-wrapper.active-menu nav .nav-profile-info.not-company .user-company-logotype,
.accountChanger-wrapper.active-menu nav .nav-profile-info.not-company .user-company-logotype {
  border-radius: unset;
  overflow: unset;
  width: auto;
  height: auto;
  border: none;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper {
  font-family: 'Segoe UI Light';
  color: #121212;
  font-size: 16px;
  line-height: 18px;
  margin-right: 24px;
  text-align: center;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper .navigation-wrapper,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper .navigation-wrapper {
  display: none;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper {
  display: inline-flex;
  background: #f2f3f3;
  padding: 34px 25px;
  border-radius: 0 0 25px 0;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper p,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper p {
  text-align: center;
  padding-right: 28px;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper p:nth-last-child(1),
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper p:nth-last-child(1) {
  padding-right: 0px;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper img,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper img {
  margin: 0 auto;
  display: block;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper a,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .navigation-wrapper a {
  padding-top: 5px;
  font-family: 'Segoe UI Light';
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  line-height: 12px;
}
.menu-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .name,
.accountChanger-wrapper.active-menu nav .nav-profile-info .name-wrapper.active .name {
  display: none;
}
.menu-wrapper.active-menu nav .nav-profile-info .user-company-logotype,
.accountChanger-wrapper.active-menu nav .nav-profile-info .user-company-logotype {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e0dfdf;
  width: 41px;
  height: 41px;
}
.menu-wrapper.active-menu nav .nav-profile-info .list,
.accountChanger-wrapper.active-menu nav .nav-profile-info .list {
  padding-left: 25px;
  transition: all .5s ease;
  display: flex;
  align-items: center;
}
.menu-wrapper.active-menu nav .nav-profile-info .list img,
.accountChanger-wrapper.active-menu nav .nav-profile-info .list img {
  width: 10px;
  height: 9px;
  cursor: pointer;
  transition: all .5s ease;
}
.menu-wrapper.active-menu nav .nav-profile-info .list img.active,
.accountChanger-wrapper.active-menu nav .nav-profile-info .list img.active {
  transition: all .5s ease;
  transform: rotate(-90deg);
}
.menu-wrapper nav,
.accountChanger-wrapper nav {
  width: 70px;
  margin: 0 auto;
  padding-top: 34px;
}
.menu-wrapper nav .nav-burg-icon,
.accountChanger-wrapper nav .nav-burg-icon {
  padding-bottom: 40px;
  cursor: pointer;
}
.menu-wrapper nav .nav-burg-icon img,
.accountChanger-wrapper nav .nav-burg-icon img {
  display: block;
  margin: 0 auto;
}
.menu-wrapper nav .nav-profile-info,
.accountChanger-wrapper nav .nav-profile-info {
  display: none;
}
.menu-wrapper nav ul li,
.accountChanger-wrapper nav ul li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
}
.menu-wrapper nav ul li a,
.accountChanger-wrapper nav ul li a {
  padding-top: 10px;
  color: #121212;
  display: block;
  font-size: 14px;
  font-family: 'Segoe UI Light';
  line-height: 15.19px;
}

.header {
  padding-top: 46px;
}

.header .container {
  position: relative;
}

.logo {
  display: block;
  margin: auto;
  width: 60%;
  max-width: 540px;
}

.enter-btn {
  position: absolute;
  top: 20%;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  width: 160px;
  cursor: pointer;
  font-family: 'Segoe UI Light';
  border-radius: 36.5px;
  font-size: 1.5em;
  color: #585858;
  padding: 20px 0 20px 70px;
  height: 76px;
  overflow: hidden;
  transition: all .5s ease;

}

.for-enter-btn {
  margin-top: 30px;
  width: 255px;
  padding: 0;
  font-size: 18px;
  z-index: 10;
}

.for-enter {
  height: 372px;
}

.for-enter-btn p {
  display: none;
}

.enter-btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    background: url(../image/enterimage.png) center center no-repeat;
    width: 42px;
    height: 40px;
    transition: all .5s ease;
}

.for-enter-btn:before {
  background-size: contain;
  top: 25px;
  left: auto;
  right: 25px;
  width: 26px;
  height: 26px;
}

.form-wrapper {
  width: 100%;
  padding: 45px 15px 0px;
  text-align: center;
}

.form-text {
  font-size: 18px;
  display: block;
  margin-bottom: 14px;
}

.form-wrapper input {
  width: 100%;
  color: #595959;
  font-size: 18px;
  font-family: 'Segoe UI Light';
  padding: 8px 15px;
  margin-bottom: 14px;
  border: 1px solid #c0c0c0;
  border-radius: 14.5px;
}

.form-pass {
  display: inline-block;
  color: #00adff;
  font-size: 18px;
  font-family: 'Segoe UI Regular';
  border-bottom: 1px solid #00adff;
  margin-bottom: 14px;
}

.login-form-button {
    cursor: pointer;
    background: #00adff;
    padding: 8px 0px;
    min-width: 124px;
    outline: none;
    color: #fff;
    font-family: 'Segoe UI Light';
    border: none;
    border-radius: 14.5px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}

.login-in {
  font-size: 24px;
}

.login-create {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  min-width: 76px;
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  cursor: pointer;
  font-family: 'Segoe UI Light';
  border-radius: 36.5px;
  font-size: 1.5em;
  color: #585858;
  padding: 20px 0 20px 0px;
  min-height: 76px;
  position: relative;
  transition: all .5s ease;
  margin: 0 15px;
  width: 40%;
  transition: 0.5s ease;
  overflow: hidden;
}

.btn:hover {
  color: #fff;
}

.search-main {
  width: 100%;
}

.search-main:before {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  left: 22px;
  transform: translateY(-50%);
  background: url(../image/searchimage.png) center center no-repeat;
  width: 30px;
  height: 30px;
}

.for-search {
  width: 40%;
  transition: 0.5s ease;
  margin: 0 30px;
}

.search-input {
  width: 100%;
  padding-left: 73px;
}

.search-input input {
  width: 100%;
}

.search-long {
  width: 80%;
}

.main-search__thumb {
  color: #585858;
  display: none;
  padding-top: 33px;
  margin: 15px 37px 0 32px;
  border-top: 1px solid #949494;
  text-align: left;
}

.main-search__thumb span {
  cursor: pointer;
  transition: 0.5s ease;
  display: block;
}

.main-search__thumb span:hover {
  margin-left: 10px;
}

.search-post {
  background: #00adff;
  color: #fff;
  transition: all 0.5s ease;
  width: 40%;
  margin: 0 15px;
  padding: 0;

}

.post-btn {
  position: relative;
  padding: 20px 0;        
}

.post-wrap {
  display: flex;
}

.wid-auto {
  width: 76px;
  font-size: 0; 
}


.search-post:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  background: url(../image/plusimage.png) center center no-repeat;
  width: 30px;
  height: 30px;
  transition: all .5s ease;
}

.for-search-post:before {
  display: none;
}

.post-wrap button {
  color: #fff;
  position: relative;
  width: 40%;
  padding: 20px 0;
  padding-left: 58px;
  margin-left: 29px;
  display: block;
  text-align: left;
} 

.blue-buttons button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;

}

.post-wrap .post-request:before {
  background: url(../image/ap-before.png);
  width: 37px;
  height: 40px;
}

.post-request:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../image/app-border.png);
  width: 2px;
  height: 54px;
  right: 0;
  top: 10px;
}

.post-wrap .post-post:before {
  background: url(../image/ad-before.png);
  width: 42px;
  height: 42px;
}

.after {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 17px;
  right: 33px;
  background: url(../image/icon/activesearch.png) center center no-repeat;
  width: 40px;
  height: 50px;
  transition: 1s ease;
  filter: grayscale(100%);
  transform: rotate(0deg);
}

.search-after-colored {
  filter: none;
}

.search-after-rot {
  transform: rotate(180deg);
}

.search-hidden {
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  padding: 40px 0;
  border-radius: 34.5px;
  width: 100%;
  transition: all 0.5s ease;
}

.search-hidden .search-main {
  width: 80%;
  margin: 0 10%;
}

.hidden-wrapper {
  text-align: center;
  display: block;
  padding-top: 23px;
  height: 0px;
  transition: 0.5s ease;
}

.hidden-wrapper .nav-item {
  max-width: 40%;
}

.search-hidden .hidden-wrapper {
  height: auto;
}

.setting-nav {
  padding-bottom: 15px;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  justify-content: center;
}

.setting-nav a {
  font-family: 'Segoe UI Light';
  font-size: 23px;
  line-height: 24px;
  color: #585858;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  border: none !important;
}

.setting-nav img {
  margin-right: 10px;
  margin-bottom: 5px;
  filter: grayscale(100%);
  width: 17px;
}

.setting-nav .active {
  color: #1cb6ff !important;
}

.choosen {
  position: relative;
}

.choosen img {
  filter: none;
}

.cancel-choose {
  display: none;
}

.choosen .cancel-choose {
  content: 'x';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 20px;
  width: 15px;
  color: #000;
  font-size: 14px;
}

.choosen span, .choosen .naming {
  color: #1cb6ff !important;
}

.setting-nav .active img {
  filter: none;
}

.app-wrapper {
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 213, 0.67);
  overflow: hidden;
  border-radius: 34.5px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 430px;
  font-size: 24px;
  font-family: 'Segoe UI Light';
}

.app-wrapper button {
  position: relative;
  width: 55%;
  padding: 13px 29px 20px 87px;
  display: block;
  background: #ededed;
  color: #00adff;
}

.post-request:before {
  background: url('../image/ap-active.png');
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.app-wrapper button:after {
  display: none;
}

.app-wrapper .post-request {
  width: 45%;
}

.app-wrapper .post-request:before {
  background: url('../image/ap.png') no-repeat center;
  width: 37px;
  height: 40px;
  left: 30px;
}

.app-wrapper .post-request.active:before {
  background: url('../image/ap-active.png') no-repeat center;
}

.app-wrapper .post-post:before {
  background: url('../image/ad-before-active.png') no-repeat center;
  width: 42px;
  height: 42px;
  left: 30px;
}

.app-wrapper .post-post.active:before {
  background: url('../image/ad-before.png') no-repeat center;
}

.app-wrapper .active {
  background: #00adff;
  color: #fff;
}

.register-wrapper {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111;
  width: 100%;
  height: 100%;
}

.register {
  opacity: 1;
  position: absolute;
  top: 50%;
  transition: 0.5s ease;
}

.before-form {
    left: 14%;
    top: 10%;
    z-index: -1;
    height: 529px;
    position: absolute;
    width: 410px;
    padding: 25px 52px 17px;
    border-radius: 35.5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}

.wrapper-text {
    transform: rotate(90deg);
    position: absolute;
    right: -135px;
    top: 130px;
}

.wrapper-text span.active {
    background: #9df321;
    border-radius: 16.5px;
}

.wrapper-text span {
    display: inline-block;
    margin-bottom: 100px;
    padding: 10px;
    font-family: 'Segoe UI Bold';
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.wrapper-text span:nth-child(1) {
    margin-left: 60px;
}

.register form {
    z-index: 999;
    width: 410px;
    padding: 25px 52px 17px;
    border-radius: 35.5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}

.form-title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Segoe UI Bold';
    padding-bottom: 26px;
    position: relative;
}

.close {
    cursor: pointer;
    transition: all .5s ease;
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    background: url(../image/icon/close.png);
    width: 10px;
    height: 10px;
}

.register form label {
    width: 100%;
}

.register form label input {
    font-size: 18px;
    line-height: 48px;
    border: 1px solid #c0c0c0;
    border-radius: 22px;
    padding: 0px 25px;
    width: 100%;
}

.btn-wrapper {
    width: 100%;
    justify-content: space-between;
    font-family: 'Segoe UI Light';
    align-items: center;
}

.btn-wrapper button {
    background: #00adff;
    border-radius: 22px;
    font-size: 24px;
    line-height: 48px;
    padding: 0 25px;
    color: #fff;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}

.btn-wrapper p {
    font-size: 16px;
    color: #010101;
    line-height: 16px;
    width: 180px;
}

.reg-changer {
    padding-top: 15px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.reg-changer span {
    cursor: pointer;
    display: block;
    border: 1px solid #909090;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.reg-changer span.active {
    background: #909090;
}

.btn-option {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    width: 100%;
    cursor: pointer;
    font-family: 'Segoe UI Light';
    border-radius: 36.5px;
    font-size: 1.500em;
    color: #585858;
    margin: auto;
    min-height: 76px;
    position: relative;
    transition: all .5s ease;
    padding: 40px;
    padding-bottom: 90px;
    max-width: fit-content;
}

.app-form-wrapper form {
  margin: auto;
}

.app-form-wrapper label {
    margin: 0 auto;
    display: flex;
    padding-bottom: 25px;
    position: relative;
}

.app-q-wrapper label {
    position: relative;
    margin-bottom: 20px;
}

.app-q-wrapper-before {
    position: absolute;
    display: block;
    background: url(../image/icon/list.png);
    width: 37px;
    height: 32px;
    right: 24px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.request-form .app-q-wrapper-before {
  background: url(../image/icon/list.png) no-repeat center / contain;
}

.post-form .app-q-wrapper-before {
  background: url(../image/icon/add-post.png) no-repeat center / contain;
  filter: grayscale(100%);
  opacity: 0.5;
}

.app-form-wrapper input {
    font-family: 'Segoe UI Light';
    border: 1px solid #c0c0c0;
    border-radius: 34px;
    font-size: 18px;
    padding: 8px 0 8px 18px;
    margin: 0 5px;
}

.app-q-wrapper input {
    padding-top: 16px;
    padding-bottom: 12px;
    width: 100%;
}

.app-changer {
    text-align: center;
    font-size: 18px;
    color: #585858;
    padding-bottom: 15px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 24px;
}

.app-changer .part, .app-changer .location {
    font-family: 'Segoe UI Light';
    position: relative;
    transition: all .2s ease;
    padding: 15px;
    padding-left: 30px;;
    position: relative;
}

.naming:before {
  filter: grayscale(100%)
}

.choosen .naming:before {
  filter: none;
}

.app-changer .active, .active span:before {
  color: #0fb2ff;
  filter: none;
}

.part .naming:before {
    transition: all .2s ease;
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../image/icon/part.png);
    width: 17px;
    height: 17px;
}

.location .naming:before {
    transition: all .2s ease;
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../image/icon/loc.png);
    width: 13px;
    height: 17px;
}

.app-form-wrapper .req {
    border: 1px solid #eea320;
}

.app-cat-wrapper {
  margin-bottom: 30px;
}

.first-row input {
    padding-left: 24px;
    width: 212px;
}

.first-row input:nth-child(2), .first-row input:nth-child(3) {
    width: 122px;
}

.second-row p {
    color: #00adff;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.second-row p:before {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    background: url(../image/icon/showother.png);
    width: 10px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.app-location-input, .app-location-input input {
  width: 100%;
  margin-bottom: 15px;
}

.file {
    vertical-align: middle;
    width: 56px;
    margin: unset;
    display: inline-block;
    border: 1px solid #eea320;
    border-radius: 34px;
    background: url(../image/cam.png) center center no-repeat;
    height: 46px;
}

.file input {
  width: 100%;
  opacity: 0;
}

.before.before-width {
    width: 254px;
}

.third-row input:nth-child(2) {
    width: 434px;
}

.button-wrapper {
    float: right;
}

 .button-wrapper button {
    background: #00adff;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 19px;
    padding: 10px 40px 10px 20px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
    position: relative;
}

#nav .show-subnav {
  display: block;
}
#nav li > ul {
  display: none;
}

.outer-menu {
  width: 20%;
}

.outer-menu li {
  position: relative;
}

.outer-menu ul {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

.cat-wrapper {
  padding-top: 21px;
  text-align: left;
  padding-left: 12px;
  width: 100%;
  min-height: 230px;
  transition: 0.5s ease;
}

.list-element div {
  display: none;
  width: 0;
}

.element-3 div {
  column-count: 2;
}

.list-wrapper p {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #585858;
  cursor: pointer;
  transition: all .4s ease;
}

.cat-wrapper p {
  width: 190px;
  margin: 3px 3px;
  padding: 8px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
}

.cat-changer p {
  padding: 8px 52px;
}

.cat-changer p:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background: url(../image/icon/construction-icon-active.png);
  width: 24px;
  height: 21px;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  filter: grayscale(100%);
}

p.technic:before {
  background: url(../image/icon/car-icon-active.png);
  width: 25px;
  height: 13px;
}

p.equipment:before {
  background: url(../image/icon/equipment-icon-active.png);
}
p.services:before {
  background: url(../image/icon/services-icon-active.png);
}

.cat-changer p.active:before {
  filter: none;
}

.list-wrapper p.active {
  background: #f1f2f2;
  border-radius: 23.5px;
}

.cat-changer p.active {
  background: #f1f2f2;
  border-radius: 23.5px;
}

.city {    
  font-family: 'Segoe UI Light';
  padding: 20px 25px 20px;
  border-radius: 26.5px;
  border: 1px solid #c0c0c0;
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.city-input {
  width: 100%;
  font-size: 24px;
}

.city:hover, .city:focus {
  border: 1px solid #c0c0c0;
}

.city-thumbs {
  padding-top: 33px;
  border-top: 1px solid #949494;
  text-align: left;
  font-size: 24px;
  display: none;
}

.city-thumbs span {
  cursor: pointer;
  transition: 0.5s ease;
  display: block;
}

.city-thumbs span:hover {
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #e3e3e3;
  width: 100%;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 23px 0;
}

.footer-item {
  display: inline-block;
  margin: 0 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Segoe UI Light';
  color: #929292;
}

.tab-content {
  padding: 0 30px;
}

.modal-dialog {
  margin-top: 8%;
}

.search-dialog {
  top: 10%;
  max-width: inherit;
  background: #fff;
  min-width: 62%;
  width: fit-content;
}

.needs-dialog {
  width: fit-content;
  min-width: auto;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  opacity: 0 !important;
}

.modal-content {
  background: transparent;
  border: none;
}

.welcome {
  position: absolute;
  left: -23%;
  width: 790px;
  padding: 25px 30px 17px;
  border-radius: 35.5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}
.welcome .wel-title {
  padding-bottom: 105px;
}
.welcome .wel-title p {
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 26px;
  font-family: 'Segoe UI Bold';
}
.welcome .wel-title p img {
  display: block;
}
.welcome .wel-content .wel-register-wrapper {
  max-width: 280px;
}
.welcome .wel-content .register-info p {
  font-family: 'Segoe UI Light';
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.welcome .wel-content .register-info p span {
  font-family: 'Segoe UI Bold';
}
.welcome .wel-content .register-info p a {
  cursor: pointer;
  margin-left: 10px;
  color: #00adff;
  font-size: 18px;
  font-family: 'Segoe UI Light';
  border-bottom: 1px solid #00adff;
}
.welcome .wel-content p.add-company {
  display: inline-block;
  cursor: pointer;
  color: #00adff;
  font-size: 18px;
  font-family: 'Segoe UI Light';
  border-bottom: 1px solid #00adff;
}
.welcome .wel-content form.add-company {
  display: none;
  opacity: 0;
}
.welcome .wel-content form.add-company label {
  width: 213px;
  margin-bottom: 14px;
}
.welcome .wel-content form.add-company label.before {
  position: relative;
}
.welcome .wel-content form.add-company label.before:before {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../image/icon/select.png);
  width: 9px;
  height: 7px;
}
.welcome .wel-content form.add-company label input {
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #c0c0c0;
  border-radius: 22px;
  padding: 10px 17px;
  width: 100%;
  letter-spacing: -0.5px;
}
.welcome .wel-content form.add-company .second-col {
  padding-left: 18px;
}
.welcome .wel-end {
  padding-top: 65px;
}
.welcome .wel-end.wel-active {
  z-index: 999;
  padding-top: 0;
  margin-top: -60px;
  padding-bottom: 70px;
}
.welcome .wel-end .btn-begin {
  cursor: pointer;
  border-radius: 22px;
  background: #00adff;
  color: #fff;
  font-family: 'Segoe UI Light';
  font-size: 24px;
  line-height: 46px;
  padding: 2px 0;
  width: 118px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  -moz-box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
  box-shadow: 0px 0px 18px 0px rgba(214, 214, 214, 0.67);
}


@media (max-width: 1360px) {
  .container {
    max-width: 80% !important;
  }
  .search .search-hidden {
    width: 80%;
  }
  .search-post {
    width: 45%;
  }
  .wid-auto {
    width: 76px;
    font-size: 0;
  }
}

