$secondary: #00A99D;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

input,
button,
a,
select {
  outline: none;
  transition: 0.5s ease;

  &:hover {
    color: inherit;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 45px;
  position: relative;
  margin-bottom: 37px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

section {
  padding: 60px 0;
}

.btn {
  background: transparent;
  border: none;
  border-radius: 0;
  text-align: center;
  transition: 0.5s ease;
  font-weight: 700;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__arrow {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    transition: 0.5s ease;
  }

  &:hover {
    color: inherit;

    .btn__arrow {
      margin-left: 5px;
      margin-right: 0px;
    }
  }

}


.side-bar {
  background-color: #fff;
  position: fixed;
  padding: 0 17px 120px;
  width: 100%;
  top: 80px;
  height: 100%;
  right: -100%;
  z-index: 100;
  padding-top: 30px;
  transition: 0.5s ease;
  overflow-y: scroll;

  &.show {
    right: 0;
  }

  &__wrap{
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 32px 17px;
    position: relative;
  }

  &__langs {
    margin-bottom: 20px;
    text-transform: uppercase;

    .active {
      color: $secondary;
    }
  }

  &__menu {
    margin-bottom: 80px;
    padding: 0;
  }

  li {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      background: url('../img/arrow-down-green.svg') no-repeat center;
      height: 9px;
      width: 16px;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
      transition: 0.5s ease;
    }

    &.single {
      &:after {
        display: none;
      }
    }

    .header-sub {
      padding: 0 0 0 15px;
      box-shadow: none;
      top: 0;
      left: 0;
      position: relative;
    }

    &.active {

      &:after {
        transform: rotate(-180deg);
      }

      .header-sub {
        position: relative;
        width: 100%;
        max-height: 300px;
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__item {
    background: transparent;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    line-height: 2.5em;
    border: none;
    border-bottom: 1px solid transparent;

    &.active, &:hover {
      color: $secondary;
      border-color: $secondary;
    }
  }
  &__media {
    margin-bottom: 30px;
  }

  &__form {
    width: 260px !important;
    left: 12px
  }


}

.ham {
  width: 27px;
  height: 16px;
  padding: 6px 3px;
  display: block;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: .25s ease-in-out;


  &.open .ham__item {

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(1) {
      top: 8px;
      width: 0%;
      left: 50%;
    }

    &:nth-child(4) {
      top: 8px;
      width: 0%;
      left: 50%;
    }
  }

  &__item {
    background: $secondary;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0%;
    border-radius: 2px;
    margin-bottom: 3px;
    transition: .25s ease-in-out;

    &:nth-child(2), &:nth-child(3) {
      position: absolute;
      top: 8px;
    }

    &:nth-child(1) {
      position: absolute;
      top: 0px;
    }

    &:nth-child(4) {
      position: absolute;
      top: 16px;
    }
  }
}

.header {
  padding: 25px 0 30px;

  &__wrap {
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    width: 500px;
    justify-content: space-between;
  }
  &__link {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;

    &.active, &:hover {
      color: $secondary;
      border-bottom-color: $secondary;
    }
  }

  &__langs {
    align-items: center;
    text-transform: uppercase;
    color: $secondary;
    position: relative;
    width: 210px;


    span {
      margin: 0 3px;
      cursor: pointer;
      position: relative;

      &:hover {
        color: $secondary;
      }

      &.active, &:hover {
        .header__langs_hidden {
          opacity: 1;
        }
      }
    }

    &_hidden {
      position: absolute;
      display: flex;
      padding: 5px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      color: #000;
      left: 0;
      transform: translateX(-30%);
      margin-top: 5px;
      overflow: hidden;
      opacity: 0;
      transition: 0.5s ease;
    }
  }

  &__form {
    position: absolute;
    right: 0;
    margin-left: 2px;
    min-width: 26px;
    cursor: pointer;
    transition: 0.5s ease;

    &:after {
      content: "\00D7";
      position: absolute;
      right: 10px;
      top: 1px;
      font-size: 18px;
      color: #000;
      cursor: pointer;
      display: none;

    }

    &.active {

      width: 100%;

      .header__search {
        width: 100%;
        padding: 2px 12px 2px 30px;
        border: 1px solid $secondary;
      }

      &:after {
        display: block;
      }

      .search_icon {
        right: calc(100% - 22px)
      }
    }


    .search_icon {
      position: absolute;
      right: 8px;
      top: 7px;
      transition: 0.5s ease;
    }
  }

  &__search {
    display: block;
    border: none;
    width: 0;
    padding: 2px 0 2px 0;
    margin: 0;
    margin-left: auto;
  }

  li {
    position: relative;

    &:hover {
      .header-sub {
        max-height: 300px;
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &-sub {
    position: absolute;
    left: -15px;
    top: 40px;
    background: #fff;
    padding: 25px 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 0;
    opacity: 0;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 1;

    &__item {
      display: block;
      width: fit-content;
      margin-bottom: 10px;
      min-width: 200px;

      &:hover {
        color: $secondary;
      }
    }
  }

}

.offer {
  padding-bottom: 20px;
  background: url('../img/bg-main.jpg') no-repeat center / cover;
  color: #fff;

  &__title {
    text-transform: uppercase;
    max-width: 680px;
  }

  &__box {
    padding: 14px 30px 14px 0;
    position: relative;
    display: inline-block;
    z-index: 1;

    &:before {
      content: '';
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      height: 100%;
      width: 200%;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  &__text {
    font-weight: 600;
    line-height: 1.75em;
    max-width: 380px;
  }
}

.media {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 22px;
    line-height: 1em;
  }

  &__text {
    margin-right: 12px;
    font-weight: 700;
    font-size: 16px;
    color: $secondary;
  }
}

.date {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
  white-space: nowrap;
}

.tags {
  display: flex;
  align-items: center;

  &__wrap {
    max-width: 500px;
  }

  &__text {
    margin-right: 12px;
    font-weight: 600;
  }
  &__tag {
    width: 99px;
    height: 32px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    margin: 5px;
  }
}

.resent {
  background: #ECECEC;
  padding: 28px 0 0;

  &__wrap {
    margin-top: 18px;
    display: flex;
    align-items: flex-end;
  }

  &__info {
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    top: 100%;
    margin-top: -58px;
    color: #fff;
    padding: 5px 0;
    transition: 0.5s ease;
  }

  &__item {
    width: 25%;
    overflow: hidden;
    position: relative;

    &.active {

      .resent__img {
        height: 232px;
      }

      .resent__info {
        top: 0;
        margin-top: 0;
      }
    }
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    margin: 0 20px;
    padding-bottom: 6px;
    color: #fff;
    text-align: left;
    display: block;

    &:hover {
      color: #fff;
    }
  }

  &__text {
    line-height: 24px;
    font-weight: 600;
    padding: 5px 20px 0;
  }

  &__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }

  &__btn {
    width: 100%;
    background: linear-gradient(91.58deg, #2F6A65 0%, rgba(0, 169, 157, 0.23) 104.09%);
    padding: 17px 20px;
    color: #fff;
  }
}

.shadow-text {
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.36em;
  color: #333;
  opacity: 3%;
  position: absolute;
  left: 30px;
  top: -24px
}

.news {
  position: relative;
  overflow: hidden;

  &-scheme {
    position: absolute;
    z-index: -1;

    &.first {
      top: -140px;
      right: 0;
    }

    &.second {
      bottom: -85px;
      left: 0;
    }
  }

  &__name {
    margin-bottom: 3px;
    max-width: 350px;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__text {
    line-height: 1.5em;
    max-width: 400px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 2px;
  }

  &__box {
    width: 100%;
  }

  &__info {
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px 30px 20px 60px;
    width: 100%;
  }

  &__item {

    &+& {
      margin-top: 15px;
    }

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    height: 120px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.3s ease;

    .btn__arrow {
      &.white {
        display: none;
      }
    }

    &:nth-child(even) {
      .news__box {
        order: 0;
      }
      .news__img {
        order: 1
      }
    }


    &:hover {
      background: linear-gradient(92.14deg, #2F6A65 12.31%, #00A99D 73.38%);
      color: #fff;

      .btn {
        color: #fff;

        &__arrow {
          display: none;

          &.white {
            display: inline;
          }
        }
      }
    }

  }

  &__main {
    position: relative;

    .news__img {
      width: 100%;
      height: 527px;
    }

    .news__name, .news__text {
      max-width: 100%;
    }

    .btn {
      color: #fff;
      margin-left: auto;
      width: max-content;
    }
  }

  &__box {
    padding: 12px 23px 7px;
  }

  &__btn {
    color: rgba(0,0,0,0.7);
    display: flex;
    padding: 0;
    font-size: 15px;
  }
}

.projects {
  background: #FBFBFB;
  position: relative;
  overflow: hidden;

  &-dots {
    position: absolute;

    &.first {
      top: -40px;
      right: -40px;
    }

    &.second {
      bottom: -30px;
      left: -50px;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__slider {
    user-select: auto;
  }

  &__item {


    background: #FFFFFF;
    box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.10);
    width: 440px;
    margin: 50px 14px;

  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__info {
    padding: 30px 25px 25px;
  }

  &__btn {
    background: #CECECE;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: auto;

    &:hover {
      background: $secondary;
    }
  }

}

.projects__left,
.projects__right {
  width: 98%;
}

.slick-list {
  width: 100%;
}

.slick-prev,
.slick-next {
  background: transparent;
  position: absolute;
  width: 52px;
  height: 52px;
  border: none;
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  transition: 0.5s ease;

  &:hover {
    .projects__left,
    .projects__right {
      //opacity: 25%;
    }
  }
}

.slick-next {
  left: auto;
  right: -70px;
}

.team {
  position: relative;
  padding-bottom: 110px;

  &-scheme {
    position: absolute;
    z-index: -1;

    &.first {
      top: 0;
      right: 0;
    }

    &.second {
      bottom: -70px;
      left: 0;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &.members {
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 900px;
      margin-left: 20px;
    }
  }

  &__member {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 60px;
    position: relative;
    white-space: nowrap;
    width: 150px;
    margin-bottom: 15px;

    &:before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $secondary;
      display: block;
      position: absolute;
      top: 8px;
      left: -16px;
    }
  }

  &__btn {
    color: rgba(51, 51, 51, 0.6);
    font-weight: 400;
    margin-bottom: 60px;
  }

  &__wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__img {
    margin: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  &__name {
    color: $secondary;
    margin-top: 16px;
    margin-bottom: 7px;
  }

  .logo {
    &__wrap {
      align-items: center;
      margin-top: 87px;
    }
    &__img {
      max-height: 100px;
      margin: auto;
    }
  }
}

.subscribe {
  background: linear-gradient(91.54deg, #000000 -6.69%, #00A99D 16.31%, #00A99D 47.59%, #74B37B 75.27%, #D8A93C 107.76%);
  padding: 44px 0;
  margin-bottom: 47px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__text {
    font-weight: 600;
    line-height: 24px;
    margin-top: 6px;
  }

}

.form {

  &__input {
    height: 52px;
    padding-left: 19px;
    line-height: 52px;
  }

  &__btn {
    background: $secondary;
    color: #fff;
    width: 202px;
  }
}

.footer {
  background: url('../img/footer-bg.jpg') no-repeat center / cover;
  padding-top: 88px;
  padding-bottom: 30px;

  &__logo {
    margin-bottom: 46px;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__info {
    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }

    &_text {
      margin-left: 16px;
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__media {
    margin-top: 40px;
    padding-bottom: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 24px;
    color: #fff;

    &-text {
      font-weight: 600;
    }

    &-credits {
      font-size: 15px;
    }
  }
}

.pages {
  background: url('../img/pages-top.jpg') no-repeat center /cover;
  padding: 22px 0;

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 0;
  }

}

.breadcrumbs {
  display: flex;
  align-items: center;

  &__link {
    margin: 0 14px;
    opacity: 0.5;
    text-transform: uppercase;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      opacity: 1;
      pointer-events:none;
    }
  }

  &__arrow {
    opacity: 0.5;

    &:last-child {
      opacity: 1;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  width: fit-content;

  &__center {
    margin: auto;
    margin-top: 72px;
    padding-left: 60px;
  }

  &__link {
    color: #333;
    margin-right: 20px;

    &.active {
      color: $secondary;
      pointer-events:none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.posts {
  padding: 56px 0 84px;
  position: relative;

  &-scheme {
    position: absolute;
    z-index: -1;

    &.first {
      top: -50px;
      right: 0;
    }
    &.second {
      bottom: 34px;
      left: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__post {
    margin-bottom: 58px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;


    &_wrap {
      height: 247px;
      position: relative;
    }
    &_bottom {
      background: rgba(51, 51, 51, 0.5);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 13px 5px;
      color: #fff;
      font-size: 14px;
      line-height: 1.5em;
      display: flex;
      align-items: center;

      span {
        margin: 0 10px;
      }
    }

    &_icon {
      margin-left: 13px;
    }
  }

  &__name {
    margin-top: 12px;
    margin-bottom: 6px;
    line-height: 1.3em;
  }

  &__btn {
    padding-left: 0;

    &:hover {
      .btn__arrow {
        margin-left: 12px;
      }
    }
  }
  .btn__arrow {
    margin-left: 9px;

  }
}

.post {
  padding-bottom: 40px;

  &__title {
    margin-top: 36px;
  }

  &__info {
    display: flex;
    align-items: center;

    .posts__img_icon {
      margin-left: 0;
    }

    .date {
      margin-right: 66px;
    }

    .tags {
      margin-left: 13px;
    }

    .media {
      margin-left: auto;
    }
  }

  &__img {
    height: 100%;

    &_wrap {
      margin-top: 23px;
      position: relative;
      height: 480px;
      text-align: center;
      overflow: hidden;
    }

    &.covered {
      z-index: -1;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      filter: blur(15px);
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 20px;

    p {
      margin-bottom: 27px;

      &.bold {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  .download {
    color: $secondary;

    &__icon {
      margin-left: 12px !important;
      margin-right: 0;

    }
  }

  &__team {
    padding-bottom: 50px;
    padding-top: 0px;
  }

  &__posts {

      .posts__title {
        margin-bottom: 50px;
      }
  }
}

.contacts {
  padding-bottom: 70px;

  &__title {
    span {
      background: -webkit-linear-gradient(rgba(0, 169, 157, 1), rgba(221, 170, 3, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    max-width: 340px;
    margin: 53px 0 24px;
  }

  .footer__info {

    &_item {
      align-items: flex-start;
    }
    &_text span {
      display: block;
      font-weight: 600;
      line-height: 1.5em;
    }
  }

  .form {
    &__title {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 44px;
    }

    &__text {
      line-height: 1.5em;
      letter-spacing: 1px;
      margin-bottom: 32px;
    }

    &__btn {
      height: 50px;
      width: 280px;
    }
  }

  &__map {
    margin-top: 72px;
  }
}

.form {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    background: transparent;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
    border-radius: 4px;
    width: calc(50% - 8px);
    margin-bottom: 16px;
  }
  &__textarea {
    width: 100%;
  }

  &__bottom {
    margin-top: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__check {
    height: 16px;

    &_label {
      font-size: 14px;
      white-space: nowrap;
      margin-left: 12px;
    }
  }
  &__btn {
    background: $secondary;
    border-radius: 8px;
    margin-left: auto;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.release {
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  &__img {
    width: 170px;
    height: 240px;
    object-fit: cover;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
  }

  &__info {
    width: max-content;
    max-width: 770px;
  }

  &__date {
      .posts__img_icon {
        margin-left: 0;
      }
  }

  &__name {
    margin: 14px 0 16px;
  }

  &__text {
    margin-bottom: 36px;
  }

  &__btn {
    padding-left: 0;
  }
  &__posts {
    .posts__img_wrap {
      text-align: center;
    }
    .release__name {
      margin-top: 30px;
    }
  }
}





















