@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

input,
button,
a,
select {
  outline: none;
  transition: 0.5s ease;
}
input:hover,
button:hover,
a:hover,
select:hover {
  color: inherit;
}
input:focus,
button:focus,
a:focus,
select:focus {
  box-shadow: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 45px;
  position: relative;
  margin-bottom: 37px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

section {
  padding: 60px 0;
}

.btn {
  background: transparent;
  border: none;
  border-radius: 0;
  text-align: center;
  transition: 0.5s ease;
  font-weight: 700;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn__arrow {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  transition: 0.5s ease;
}
.btn:hover {
  color: inherit;
}
.btn:hover .btn__arrow {
  margin-left: 5px;
  margin-right: 0px;
}

.side-bar {
  background-color: #fff;
  position: fixed;
  padding: 0 17px 120px;
  width: 100%;
  top: 80px;
  height: 100%;
  right: -100%;
  z-index: 100;
  padding-top: 30px;
  transition: 0.5s ease;
  overflow-y: scroll;
}
.side-bar.show {
  right: 0;
}
.side-bar__wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px 17px;
  position: relative;
}
.side-bar__langs {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.side-bar__langs .active {
  color: #00A99D;
}
.side-bar__menu {
  margin-bottom: 80px;
  padding: 0;
}
.side-bar li {
  position: relative;
  cursor: pointer;
}
.side-bar li:after {
  content: "";
  background: url("../img/arrow-down-green.svg") no-repeat center;
  height: 9px;
  width: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  transition: 0.5s ease;
}
.side-bar li.single:after {
  display: none;
}
.side-bar li .header-sub {
  padding: 0 0 0 15px;
  box-shadow: none;
  top: 0;
  left: 0;
  position: relative;
}
.side-bar li.active:after {
  transform: rotate(-180deg);
}
.side-bar li.active .header-sub {
  position: relative;
  width: 100%;
  max-height: 300px;
  opacity: 1;
  z-index: 2;
}
.side-bar__item {
  background: transparent;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  line-height: 2.5em;
  border: none;
  border-bottom: 1px solid transparent;
}
.side-bar__item.active, .side-bar__item:hover {
  color: #00A99D;
  border-color: #00A99D;
}
.side-bar__media {
  margin-bottom: 30px;
}
.side-bar__form {
  width: 260px !important;
  left: 12px;
}

.ham {
  width: 27px;
  height: 16px;
  padding: 6px 3px;
  display: block;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.ham.open .ham__item:nth-child(2) {
  transform: rotate(45deg);
}
.ham.open .ham__item:nth-child(3) {
  transform: rotate(-45deg);
}
.ham.open .ham__item:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.ham.open .ham__item:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.ham__item {
  background: #00A99D;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0%;
  border-radius: 2px;
  margin-bottom: 3px;
  transition: 0.25s ease-in-out;
}
.ham__item:nth-child(2), .ham__item:nth-child(3) {
  position: absolute;
  top: 8px;
}
.ham__item:nth-child(1) {
  position: absolute;
  top: 0px;
}
.ham__item:nth-child(4) {
  position: absolute;
  top: 16px;
}

.header {
  padding: 25px 0 30px;
}
.header__wrap {
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 500px;
  justify-content: space-between;
}
.header__link {
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.header__link.active, .header__link:hover {
  color: #00A99D;
  border-bottom-color: #00A99D;
}
.header__langs {
  align-items: center;
  text-transform: uppercase;
  color: #00A99D;
  position: relative;
  width: 210px;
}
.header__langs span {
  margin: 0 3px;
  cursor: pointer;
  position: relative;
}
.header__langs span:hover {
  color: #00A99D;
}
.header__langs span.active .header__langs_hidden, .header__langs span:hover .header__langs_hidden {
  opacity: 1;
}
.header__langs_hidden {
  position: absolute;
  display: flex;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: #000;
  left: 0;
  transform: translateX(-30%);
  margin-top: 5px;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.header__form {
  position: absolute;
  right: 0;
  margin-left: 2px;
  min-width: 26px;
  cursor: pointer;
  transition: 0.5s ease;
}
.header__form:after {
  content: "×";
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  display: none;
}
.header__form.active, .header__form.fixed {
  width: 100%;
}
.header__form.active .header__search, .header__form.fixed .header__search {
  width: 100%;
  padding: 2px 12px 2px 30px;
  border: 1px solid #00A99D;
}
.header__form.active:after, .header__form.fixed:after {
  display: block;
}
.header__form.active .search_icon, .header__form.fixed .search_icon {
  right: calc(100% - 22px);
}
.header__form .search_icon {
  position: absolute;
  right: 8px;
  top: 7px;
  transition: 0.5s ease;
}
.header__search {
  display: block;
  border: none;
  width: 0;
  padding: 2px 0 2px 0;
  margin: 0;
  margin-left: auto;
}
.header li {
  position: relative;
}
.header li:hover .header-sub {
  max-height: 300px;
  opacity: 1;
  z-index: 2;
}
.header-sub {
  position: absolute;
  left: -15px;
  top: 40px;
  background: #fff;
  padding: 25px 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 0;
  opacity: 0;
  transition: 0.5s ease;
  overflow: hidden;
  z-index: 1;
}
.header-sub__item {
  display: block;
  width: fit-content;
  margin-bottom: 10px;
  min-width: 200px;
}
.header-sub__item:hover {
  color: #00A99D;
}

.offer {
  padding-bottom: 20px;
  background: url("../img/bg-main.jpg") no-repeat center/cover;
  color: #fff;
}
.offer__title {
  text-transform: uppercase;
  max-width: 680px;
  margin-bottom: 30px;
}
.offer__box {
  padding: 14px 30px 14px 0;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-bottom: 24px;
}
.offer__box:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  width: 200%;
  right: 0;
  top: 0;
  z-index: -1;
}
.offer__text {
  font-weight: 600;
  line-height: 1.75em;
  max-width: 380px;
}

.media {
  display: flex;
  align-items: center;
}
.media__link {
  margin-right: 18px;
}
.media__text {
  margin-right: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #00A99D;
}

.date {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
  white-space: nowrap;
}

.tags {
  display: flex;
  align-items: center;
}
.tags__wrap {
  max-width: 500px;
}
.tags__text {
  margin-right: 12px;
  font-weight: 600;
}
.tags__tag {
  width: 99px;
  height: 32px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 30px;
  margin: 5px;
}

.resent {
  background: #ECECEC;
  padding: 28px 0 0;
}
.resent__wrap {
  margin-top: 18px;
  display: flex;
  align-items: flex-end;
}
.resent__info {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: 100%;
  margin-top: -58px;
  color: #fff;
  padding: 5px 0;
  transition: 0.5s ease;
}
.resent__item {
  width: 25%;
  overflow: hidden;
  position: relative;
}
.resent__item.active .resent__img {
  height: 232px;
}
.resent__item.active .resent__info {
  top: 0;
  margin-top: 0;
}
.resent__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  margin: 0 20px;
  padding-bottom: 6px;
  color: #fff;
  text-align: left;
  display: block;
}
.resent__name:hover {
  color: #fff;
}
.resent__text {
  line-height: 24px;
  font-weight: 600;
  padding: 5px 20px 0;
}
.resent__img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.resent__btn {
  width: 100%;
  background: linear-gradient(91.58deg, #2F6A65 0%, rgba(0, 169, 157, 0.23) 104.09%);
  padding: 17px 20px;
  color: #fff;
}

.shadow-text {
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.36em;
  color: #333;
  opacity: 3%;
  position: absolute;
  left: 30px;
  top: -24px;
}

.news {
  position: relative;
  overflow: hidden;
}
.news-scheme {
  position: absolute;
  z-index: -1;
}
.news-scheme.first {
  top: -140px;
  right: 0;
}
.news-scheme.second {
  bottom: -85px;
  left: 0;
}
.news__name {
  margin-bottom: 3px;
  max-width: 350px;
}
.news__img {
  height: 100%;
  object-fit: cover;
}
.news__text {
  line-height: 1.5em;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2px;
}
.news__box {
  width: 100%;
}
.news__info {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px 30px 20px 60px;
  width: 100%;
}
.news__item {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  height: 120px !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease;
}
.news__item + .news__item {
  margin-top: 15px;
}
.news__item .btn__arrow.white {
  display: none;
}
.news__item:nth-child(even) .news__box {
  order: 0;
}
.news__item:nth-child(even) .news__img {
  order: 1;
}
.news__item:hover {
  background: linear-gradient(92.14deg, #2F6A65 12.31%, #00A99D 73.38%);
  color: #fff;
}
.news__item:hover .btn {
  color: #fff;
}
.news__item:hover .btn__arrow {
  display: none;
}
.news__item:hover .btn__arrow.white {
  display: inline;
}
.news__main {
  position: relative;
  display: block;
}
.news__main .news__img {
  width: 100%;
  height: 527px;
}
.news__main .news__name, .news__main .news__text {
  max-width: 100%;
}
.news__main .btn {
  color: #fff;
  margin-left: auto;
  width: max-content;
}
.news__box {
  padding: 12px 23px 7px;
}
.news__btn {
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 0;
  font-size: 15px;
}

.projects {
  background: #FBFBFB;
  position: relative;
  overflow: hidden;
}
.projects-dots {
  position: absolute;
}
.projects-dots.first {
  top: -40px;
  right: -40px;
}
.projects-dots.second {
  bottom: -30px;
  left: -50px;
}
.projects__title {
  margin-bottom: 0;
}
.projects__slider {
  user-select: auto;
}
.projects__item {
  background: #FFFFFF;
  box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.1);
  width: 440px;
  margin: 50px 14px;
}
.projects__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.projects__info {
  padding: 30px 25px 25px;
}
.projects__btn {
  background: #CECECE;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: auto;
}
.projects__btn:hover {
  background: #00A99D;
}

.projects__left,
.projects__right {
  width: 98%;
}

.slick-list {
  width: 100%;
}

.slick-prev,
.slick-next {
  background: transparent;
  position: absolute;
  width: 52px;
  height: 52px;
  border: none;
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  transition: 0.5s ease;
}
.slick-next {
  left: auto;
  right: -70px;
}

.team {
  position: relative;
  padding-bottom: 110px;
}
.team-scheme {
  position: absolute;
  z-index: -1;
}
.team-scheme.first {
  top: 0;
  right: 0;
}
.team-scheme.second {
  bottom: -70px;
  left: 0;
}
.team__title {
  margin-bottom: 60px;
}
.team__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team__top.members {
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-left: 20px;
}
.team__member {
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 60px;
  position: relative;
  white-space: nowrap;
  width: 180px;
  margin-bottom: 15px;
}
.team__member:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00A99D;
  display: block;
  position: absolute;
  top: 8px;
  left: -16px;
}
.team__btn {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  margin-bottom: 60px;
}
.team__wrap {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.team__img {
  margin: auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.team__name {
  color: #00A99D;
  margin-top: 16px;
  margin-bottom: 7px;
}
.team .logo__wrap {
  align-items: center;
  margin-top: 87px;
}
.team .logo__img {
  max-height: 100px;
  margin: auto;
}

.subscribe {
  background: linear-gradient(91.54deg, #000000 -6.69%, #00A99D 16.31%, #00A99D 47.59%, #74B37B 75.27%, #D8A93C 107.76%);
  padding: 44px 0;
  margin-bottom: 47px;
}
.subscribe__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.subscribe__title {
  font-size: 30px;
  font-weight: 700;
}
.subscribe__text {
  font-weight: 600;
  line-height: 24px;
  margin-top: 6px;
}
.subscribe__input {
  background: #fff;
  border: none;
  height: 52px;
  padding-left: 19px;
  line-height: 52px;
}
.subscribe__btn {
  border-radius: 0 !important;
}

.form__sub-title {
  display: block;
  width: 100%;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 32px;
}
.form__input {
  height: 52px;
  padding-left: 19px;
  line-height: 52px;
}
.form__file {
  width: 100% !important;
  position: relative;
  padding: 0 0 0 16px;
  color: #9A9CA5;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.form__file_input {
  opacity: 0;
  cursor: pointer !important;
  width: 100% !important;
}
.form__file label {
  position: absolute;
  top: 0px;
  left: 16px;
  color: #9A9CA5;
}
.form__file:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.form__file:after {
  content: "";
  background: url("../img/download-icon-gray.svg") no-repeat center;
  height: 100%;
  width: 48px;
  border-left: 1px solid #D7DADD;
  position: absolute;
  top: 0;
  right: 0;
}
.form__btn {
  background: #00A99D;
  color: #fff;
  width: 202px;
}

.footer {
  background: url("../img/footer-bg.jpg") no-repeat center/cover;
  padding-top: 88px;
  padding-bottom: 30px;
}
.footer__logo {
  margin-bottom: 46px;
}
.footer__name {
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer__info_item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.footer__info_text {
  margin-left: 16px;
  color: #fff;
}
.footer__link {
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
  color: #fff;
}
.footer__link:hover {
  color: #fff;
}
.footer__media {
  margin-top: 40px;
  padding-bottom: 30px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 24px;
  color: #fff;
}
.footer__bottom-text {
  font-weight: 600;
}
.footer__bottom-credits {
  font-size: 15px;
}

.pages {
  background: url("../img/pages-top.jpg") no-repeat center/cover;
  padding: 22px 0;
}
.pages__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  margin: 0 14px;
  opacity: 0.5;
  text-transform: uppercase;
}
.breadcrumbs__link:first-child {
  margin-left: 0;
}
.breadcrumbs__link:last-child {
  opacity: 1;
  pointer-events: none;
}
.breadcrumbs__arrow {
  opacity: 0.5;
}
.breadcrumbs__arrow:last-child {
  opacity: 1;
}

.pagination {
  display: flex;
  align-items: center;
  width: fit-content;
}
.pagination__center {
  margin: auto;
  margin-top: 72px;
  padding-left: 60px;
}
.pagination__link {
  color: #333;
  margin-right: 20px;
}
.pagination__link.active {
  color: #00A99D;
  pointer-events: none;
}
.pagination__link:last-child {
  margin-right: 0;
}

.posts {
  padding: 56px 0 84px;
  position: relative;
}
.posts-scheme {
  position: absolute;
  z-index: -1;
}
.posts-scheme.first {
  top: -50px;
  right: 0;
}
.posts-scheme.second {
  bottom: 34px;
  left: 0;
}
.posts__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.posts__post {
  margin-bottom: 40px;
}
.posts__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.posts__img_wrap {
  height: 247px;
  position: relative;
}
.posts__img_bottom {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 13px 5px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
}
.posts__img_bottom span {
  margin: 0 10px;
}
.posts__img_icon {
  margin-left: 13px;
}
.posts__name {
  margin-top: 12px;
  margin-bottom: 0px;
  line-height: 1.3em;
}
.posts__btn {
  padding-left: 0;
}
.posts__btn:hover .btn__arrow {
  margin-left: 12px;
}
.posts .btn__arrow {
  margin-left: 9px;
}
.posts__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post {
  padding-bottom: 40px;
}
.post__title {
  margin-top: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  max-width: 90%;
}
.post__info {
  display: flex;
  align-items: center;
}
.post__info .posts__img_icon {
  margin-left: 0;
}
.post__info .date {
  margin-right: 66px;
}
.post__info .tags {
  margin-left: 13px;
}
.post__info .media {
  margin-left: auto;
}
.post__img {
  height: 100%;
}
.post__img_wrap {
  margin-top: 23px;
  position: relative;
  height: 480px;
  text-align: center;
  overflow: hidden;
}
.post__img.covered {
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(15px);
  object-fit: cover;
}
.post__content {
  margin-top: 20px;
}
.post__content p {
  margin-bottom: 27px;
}
.post__content p.bold {
  font-size: 20px;
  font-weight: 700;
}
.post__bottom {
  display: flex;
  align-items: center;
}
.post .download {
  color: #00A99D;
}
.post .download__icon {
  margin-left: 12px !important;
  margin-right: 0;
}
.post__team {
  padding-bottom: 50px;
  padding-top: 0px;
}
.post__posts-wrap {
  display: flex;
  justify-content: space-between;
}
.post__posts-item {
  margin: 0 8px;
}
.post__posts .posts__img {
  height: 146px;
}
.post__posts .posts__img_wrap {
  height: auto;
}
.post__posts .posts__name {
  font-size: 12px;
  margin-top: 7px;
}
.post__posts .posts__img_bottom {
  font-size: 8px;
  padding: 8px 0;
}
.post__posts .posts__img_bottom span {
  margin: 0 8px;
}
.post__posts .posts__img_icon {
  height: 8px;
}
.post__posts .posts__btn {
  padding-right: 6px;
}
.post__posts .posts .btn__arrow {
  width: 14px;
  margin-right: 6px;
}

.contacts {
  padding-bottom: 70px;
}
.contacts__title span {
  background: -webkit-linear-gradient(#00a99d, #ddaa03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts__text {
  max-width: 340px;
  margin: 53px 0 24px;
}
.contacts .footer__info_item {
  align-items: flex-start;
}
.contacts .footer__info_text span {
  display: block;
  font-weight: 600;
  line-height: 1.5em;
}
.contacts .form__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 44px;
}
.contacts .form__text {
  line-height: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 32px;
}
.contacts .form__btn {
  height: 50px;
  width: 260px;
}
.contacts__map {
  margin-top: 72px;
}

.form__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.form__input {
  background: transparent;
  border: 1px solid #D7DADD;
  box-sizing: border-box;
  border-radius: 4px;
  width: calc(50% - 8px);
  margin-bottom: 16px;
}
.form__textarea {
  width: 100%;
}
.form__bottom {
  margin-top: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form__check {
  height: 16px;
}
.form__check_label {
  font-size: 14px;
  margin-left: 12px;
}
.form__btn {
  background: #00A99D;
  border-radius: 8px;
  margin-left: auto;
  color: #fff;
}
.form__btn:hover {
  color: #fff;
}

.release {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.release__img {
  width: 240px;
  height: 240px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
}
.release__info {
  width: max-content;
  max-width: 770px;
}
.release__date .posts__img_icon {
  margin-left: 0;
}
.release__name {
  margin: 14px 0 16px;
}
.release__text {
  margin-bottom: 36px;
}
.release__btn {
  padding-left: 0;
}
.release__posts .posts__img_wrap {
  text-align: left;
}
.release__posts .release__name {
  margin-top: 25px;
}

.team-page__title {
  text-align: center;
  margin-bottom: 60px;
}
.team-page .team__wrap {
  justify-content: center;
}
.team-page .team__item {
  margin: 0 50px 70px;
}

.partners {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.partners__info {
  width: fit-content;
}
.partners__img {
  max-width: 86%;
}
.partners__img-wrap {
  min-width: 172px;
  width: 172px;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 25px;
}
.partners__img-wrap:before, .partners__img-wrap:after {
  content: "";
  background: url("../img/divider.png") no-repeat center;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.partners__img-wrap:after {
  left: auto;
  right: 0;
}
.partners__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.vacancy__title.second {
  margin: 60px 0 70px;
}
.vacancy__sub-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.vacancy__img {
  max-width: 100%;
  width: 510px;
  display: block;
  margin-left: auto;
}
.vacancy__item .vacancy__text {
  max-width: 370px;
}
.vacancy__pros {
  margin-bottom: 18px;
}
.vacancy__pros_item {
  display: block;
  font-weight: 600;
  line-height: 1.6em;
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
}
.vacancy__pros_item:before {
  content: "";
  background: url("../img/check-icon.svg") no-repeat center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.vacancy__text {
  margin-bottom: 16px;
  line-height: 1.5em;
}
.vacancy .accordion-item {
  padding-left: 40px;
  border: none;
}
.vacancy .accordion-header {
  padding: 12px 0;
}
.vacancy .accordion-header button {
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  text-align: left;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  color: #1E212C;
  position: relative;
}
.vacancy .accordion-header button:before, .vacancy .accordion-header button:after {
  content: "";
  background: #00A99D;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  left: -40px;
  top: 16px;
  transition: 0.5s ease-in-out;
}
.vacancy .accordion-header button.collapsed:before {
  transform: rotate(-360deg);
}
.vacancy .accordion-header button.collapsed:after {
  transform: rotate(-270deg);
}
.vacancy .accordion-header button:hover {
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
