@media (max-width: 1400px) {
  .news {
    &__name {
      max-width: 300px;
    }
    &__text {
      max-width: 320px;
    }
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  .news-scheme {
    max-width: 30%;
  }
  .team-scheme, .posts-scheme {
    max-width: 40%;
  }
  .header {
    &__menu, &__langs {
      display: none !important;
    }

    &__form {
      .search_icon {
        top: 17px;
      }

      &::after {
        display: none !important;
        top: 11px;
      }
    }
    &__search {
      line-height: 43px;
    }
  }
  .news {
    &__main {
      margin-bottom: 30px;

      .news__img {
        height: 350px;
      }
    }
  }
  .shadow-text {
    font-size: 60px;
    top: -14px;
    left: 20px;
  }
  .footer {
    &__item {
      display: none;

      &.first {
        display: block;
      }
    }
  }
  .post {
    &__info {
      flex-wrap: wrap;
      color: #fff;

      .tags {
        color: #000;
        order: 5;
        margin-top: 20px;

        &__wrap {
          max-width: 90%;
        }
      }
    }
  }

  .vacancy {
    &__title {
      font-size: 35px;
      margin-bottom: 50px;
    }
    &__sub-title {
      font-size: 26px;
    }
    &__img {
      display: none;
    }
  }

  .tech {
    &__desk {
      margin-bottom: 30px;
    }
  }

  .person {
    &__img {
      margin-bottom: 30px;
    }
  }

  .offer_partners {
    .second {
      display: none;
    }
  }

  .digital {
    &__item {
      &_name {
        height: 75px;
      }

      &.box span {
        font-size: 18px;
      }
    }
    &__pros {
      width: 49%;
      font-size: 18px;

      &:last-child {
        margin: 0 0 16px 0;
      }
    }
  }
  .slick-arrow {
    width: 37px;
    height: 37px;
    left: 25px;
  }

  .slick-next {
    left: auto;
    right: 25px;
  }


}

@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .shadow-text {
    display: none;
  }
  .subscribe__wrap {
    flex-direction: column;

    .form {
      &__input, &__btn {
        width: 50%;
      }
    }
  }
  .post {
    &__title {
      max-width: 100%;
    }
    &__info {
      justify-content: center;

      .date {
        margin-right: 0;
      }

      .media {
        width: 70%;
        margin: 40px 0 20px;
      }
    }

    &__download {
      margin: 40px 0 20px;
    }

    &__content p.bold {
      font-size: 16px;
    }
  }
  .news {

    &__name {
      font-size: 15px;
      white-space: initial;
      margin-bottom: 12px;
    }
    &__text {
      display: none;
    }
  }
  .release {
    flex-direction: column;
    margin-bottom: 40px;

    &__info {
      width: auto;
      margin-top: 30px;
    }
  }
  .contacts {
    &__text {
      max-width: 90%;
    }

    .form {
      margin-top: 50px;
    }
  }

  .team-page {
    .team__item {
      margin: 0 0 50px;
    }
  }

  .partners {
    flex-direction: column;
    align-items: flex-start;
  }
  .vacancy {
    &__item {
      margin-bottom: 40px;
    }
  }
  .form {
    &__sub-title {
        margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  .person {
    &__name {
      text-align: left;
    }
    &__img {
      width: 300px;
      height: 300px;
    }
  }
  .posts {
    &-scheme {
      display: none;
    }
  }

  .digital {
    &__item {
      width: 48%;

      &.box {
        margin: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 578px) {
  h2, .pages__title {
    font-size: 30px;
  }
  h4 {
    font-size: 16px;
  }
  .news {

    &__info {
      padding-left: 30px;
    }
    &__item {
      height: 150px !important;
    }
    &__img {
      width: 120px;
    }
    &__name {
      font-size: 13px;
    }
    &__btn {
      font-size: 14px;
    }
  }
  .posts {
    &__top {
      .pagination {
        display: none;
      }
    }
    &__img_bottom {
      font-size: 12px;
    }
  }
  .post {
    &__img {
      &_wrap {
        height: 350px;
      }
    }
  }
  .form {
    &__input {
      width: 100%;
    }
  }

  .vacancy {
    &__title {
      font-size: 30px;
    }
    &__sub-title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .digital {
    &__title {
      font-size: 24px;
      margin: 40px 0;
    }

    &__item {
      width: 95%;
      text-align: center;

      &_name {
        height: auto;
        margin: auto;
        margin-bottom: 20px;
      }

      &_text {
        margin: auto;
        margin-bottom: 15px;
      }
    }

    &__pros {
      width: 90%;
      margin: auto !important;
      margin-bottom: 15px !important;
    }
  }
  .team {
    .logo__img {
      height: 70px;
    }
  }


}
